<!DOCTYPE html>
<html>
<head>
	<title>This is Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>





<h1>Login!</h1>
	<form action="/login" method="POST">
	{% csrf_token %}
	Username:<input type="text" name="login_username" >
	<br>
    Password: <input type="password" name="login_password" >
     <br>
	<input type="submit" class="btn btn-default" value="Login">








<h2>Register!</h2>

	{% if messages %}
	<ul>
		{% for message in messages %}
		<li{% if message.tags%}>{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
<form action="/register" method="POST" role="form">
	{% csrf_token %}
	<div class="form-group">
	Full Name <input type="text" name="new_name" placeholder="full name">
	</div>
	<br>
	<div class="form-group">
    UserName: <input type="text" name="new_username" placeholder="username">
    </div><br>
    <div class="form-group">
    Password: <input type="text" name="new_password" >
    </div><br>
    <div class="form-group">
    Confirm Password: <input type="text" name="confirm_password" >
    </div><br>
    <div class="form-group">
    Date Hired : <input type="date" name="date">
	</div>
	<input type="submit" class="btn btn-default" value="Register">

</form>
	
</body>
</html>

